<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SignUp</title>
    <link rel="stylesheet" href="/css/headerFooter.css" />
    <link rel="stylesheet" href="/css/signup.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&family=Nanum+Gothic:wght@400;700;800&display=swap"
      rel="stylesheet"
    />

    <script
      src="https://kit.fontawesome.com/9d779ebc01.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <!-- ----------------- Header ---------------------- -->
    <%- include('../includes/header.ejs') %>
    <!-- ----------------- Main Section ---------------------- -->
    <main class="container flex">
      <div class="main-left">
        <img src="/images/form.svg" alt="" />
      </div>
      <div class="main-right">
        <section class="center">
          <h1>Sign UP</h1>
          <p>Already have an account? <a href="/organizer/login">Log in</a></p>
          <form
            action="/organizer/signup"
            method="post"
            enctype="multipart/form-data"
          >
            <div class="main-form">
              <span class="width-small">
                <label for="fname">First Name</label><br />
                <input
                  class="width-small"
                  type="text"
                  name="fname"
                  id=""
                  placeholder="First"
                  value="<%=oldInput.fname%>"
                  required
              /></span>

              <span class="width-small">
                <label for="lname">Last Name</label><br />
                <input
                  class="width-small"
                  type="text"
                  name="lname"
                  id=""
                  placeholder="Last"
                  value="<%=oldInput.lname%>"
                  required
              /></span>
            </div>

            <label for="organization">Organization Name</label>
            <br />
            <input
              class="width margin"
              type="text"
              name="organization"
              id="organization"
              placeholder="Organization Name"
              value="<%=oldInput.organization%>"
              required
            />
            <br />

            <label for="description">Organization Description</label>
            <br />
            <textarea
              id="description"
              class="width margin"
              name="description"
              rows="4"
              cols="50"
              placeholder="Organization Description in two sentances only."
              value="<%=oldInput.description%>"
              required
            ></textarea>

            <br />

            <label for="logo">Organization Logo</label><br />
            <input
              type="file"
              id="logo"
              class="width margin"
              name="imageURL[]"
              accept="image/*"
              multiple
              required
            />
            <br />

            <label for="email">Email</label>
            <br />
            <input
              class="width margin"
              type="text"
              name="email"
              id=""
              placeholder="Email"
              value="<%=oldInput.email%>"
              required
            />
            <br />

            <label for="phone">Phone Number</label>
            <br />
            <input
              class="width margin"
              type="tel"
              name="phone"
              id=""
              placeholder="Phone Number"
              value="<%=oldInput.phone%>"
              required
            />
            <br />

            <label for="password">Password</label><br />
            <input
              class="width margin-less"
              type="password"
              name="password"
              id=""
              placeholder="Password"
              value="<%=oldInput.password%>"
              required
            /><br />
            <input
              class="width"
              type="password"
              name="cpassword"
              id=""
              placeholder="Confirm Password"
              value="<%=oldInput.cpassword%>"
              required
            />
            <button class="submit-btn" type="submit">Submit</button>
          </form>
          <h4><%=errorMessage%></h4>
        </section>
      </div>
    </main>

    <!-- ----------------- Call to Action Section ---------------------- -->

    <section class="CTA">
      <div class="news">
        <h2>NEWSLETTER SIGN UP</h2>
        <p>Get latest updates on things to do in Pakistan</p>
        <input type="text" placeholder="Your E-Mail Address" />
        <button>Subscribe</button>
      </div>
    </section>

    <!-- ----------------- Footer Section ---------------------- -->

    <footer>
      <div class="container">
        <div class="footer-main flex container gap">
          <div class="about-us">
            <ul>
              <h2>About US</h2>
              <li>
                Experience Pakistan is a Platform for all type of events and
                entertainment
              </li>
              <li>
                <a href="">
                  <img class="google" src="/images/google.png" alt="" />
                </a>
              </li>
            </ul>
          </div>
          <div class="helpful-links">
            <ul>
              <h2>Helpful Links</h2>
              <li><a href="">Experience Pakistan</a></li>
              <li><a href="">Search By City</a></li>
              <li><a href="">About Us</a></li>
              <li><a href="">Contact Us</a></li>
              <li><a href="">Articles</a></li>
              <li><a href="">Frequently Asked Questions</a></li>
            </ul>
          </div>

          <div class="eventsByCity">
            <ul>
              <h2>Events By City</h2>
              <li><a href="">Lahore</a></li>
              <li><a href="">Karachi</a></li>
              <li><a href="">Islamabad</a></li>
            </ul>
          </div>

          <div class="useful-links">
            <ul>
              <h2>Useful Links</h2>
              <li><a href="">Submit a Complaint</a></li>
              <li><a href="">Give a Suggestion</a></li>
            </ul>
          </div>
        </div>

        <div class="container footer-secondary flex gap">
          <div class="copyright">
            <p class="">
              <img src="/images/Copyright.png" alt="" />2023 Experience
              Pakistan. All Rights Reserved
            </p>
          </div>

          <div class="external-link flex wrapper">
            <a href="">Terms & Conditions</a>
            <a href="">Privacy Policy</a>
            <a href="">Cookie Policy</a>
          </div>
        </div>
      </div>
    </footer>

    <!-- ----------------- Scripts ---------------------- -->
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>

    <script src="./scripts/menu.js"></script>
  </body>
</html>
