<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Restaurants</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/css/adminNavbar.css" />
    <link rel="stylesheet" href="/css/adminPanel.css" />
    <script
      src="https://kit.fontawesome.com/9d779ebc01.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <section class="flex container flexStart">
      <%- include('../includes/admin-nav.ejs') %>

      <main>
        <section class="dashboard-head flex">
          <div class="dashboard-head-primary flex">
            <i class="fa-solid fa-bars-staggered"></i>
            <h1>Restaurants</h1>
          </div>

          <div class="dashboard-head-secondary flex gap">
            <form
              id="searchForm"
              action="/admin/searchedRestaurant"
              method="post"
            >
              <input
                class="searchBox"
                type="text"
                id="searchInput"
                name="searchText"
                placeholder="Search"
                onkeydown="handleKeyPress(event)"
              />
            </form>
            <div class="head-img">
              <img
                id="profileIcon"
                onclick="toggleProfileCard()"
                src="/images/admin.png"
                alt=""
              />
            </div>
          </div>
        </section>

        <div id="profileCard">
          <div class="head-detail">
            <img src="/images/admin.png" alt="" />
            <p><%=admin.firstName + ' ' + admin.lastName %></p>
            <form action="/admin/admin-logout" method="post">
              <button type="submit">Logout</button>
            </form>
          </div>
        </div>
        <section class="flex dashboard-info">
          <a class="addBtn" href="/admin/add-restaurants">
            Add a Restaurant <i class="fa-solid fa-plus"></i>
          </a>
          <% if (isArt !== 'null') { %> <% if (isArt === 'true') { %>
          <div class="success-card green" id="successCard">
            <span class="close-icon" onclick="closeCard()">&times;</span>
            <p>Successfully added Restaurant!</p>
          </div>
          <% } else { %>
          <div class="success-card red" id="successCard">
            <span class="close-icon" onclick="closeCard()">&times;</span>
            <p>There was an Error!</p>
          </div>
          <% } %> <% } %> <% if (isDel) { %>
          <div class="success-card green" id="successCard">
            <span class="close-icon" onclick="closeCard()">&times;</span>
            <p>Successfully Deleted Restaurant!</p>
          </div>
          <% } %> <% if (isEdited) { %>
          <div class="success-card green" id="successCard">
            <span class="close-icon" onclick="closeCard()">&times;</span>
            <p>Successfully Edited Restaurant!</p>
          </div>
          <% } %>
        </section>

        <section class="dashboard">
          <% if(Rests.length > 0) { %>
          <div class="userList">
            <table>
              <thead>
                <tr>
                  <th>Restaurant Name</th>
                  <th>City</th>
                  <th>Phone #</th>
                  <th>Category</th>
                  <th>Rating</th>
                  <th>More Info</th>
                  <th>Delete</th>
                  <th>Edit</th>
                </tr>
              </thead>

              <tbody>
                <% for (let Cafe of Rests) { %>
                <tr>
                  <td><%=Cafe.name%></td>
                  <td><%=Cafe.city %></td>
                  <td><%=Cafe.PhoneNumber%></td>
                  <td><%=Cafe.restaurantType %></td>
                  <td><%= Cafe.rating %></td>
                  <td class="actionBtns">
                    <button
                      class="viewBtn"
                      onclick="window.location.href = '/admin/admin-RestDetails/<%=Cafe._id%>'"
                    >
                      Details
                    </button>
                  </td>
                  <td class="actionBtns">
                    <button
                      class="deleteBtns"
                      onclick="window.location.href = '/admin/delete-restaurant/<%=Cafe._id%>'"
                    >
                      Delete
                    </button>
                  </td>
                  <td class="actionBtns">
                    <button
                      class="editBtn"
                      onclick="window.location.href = '/admin/admin-editRestDetails/<%=Cafe._id%>'"
                    >
                      Edit
                    </button>
                  </td>
                </tr>

                <% } %>
              </tbody>
            </table>
          </div>
          <%} else {%>
          <div class="noRecord record-center">
            <h2>No Restaurant Found</h2>
            <img src="/images/NoRecord.png" alt="" />
          </div>
          <%} %>
        </section>
      </main>
    </section>
    <script src="/scripts/admin.js"></script>
  </body>
</html>
