<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Event Organizers</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/css/adminNavbar.css" />
    <link rel="stylesheet" href="/css/adminPanel.css" />
    <link rel="stylesheet" href="/css/adminEvent.css" />
    <script
      src="https://kit.fontawesome.com/9d779ebc01.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <section class="flex container flexStart">
      <%- include('../includes/admin-nav.ejs') %>
      <main>
        <section class="dashboard-head flex">
          <div class="dashboard-head-primary flex">
            <i class="fa-solid fa-bars-staggered"></i>
            <h1>Event Organizers</h1>
          </div>

          <div class="dashboard-head-secondary flex gap">
            <form action="/admin/organizer" method="post">
              <input
                class="searchBox"
                type="text"
                placeholder="Search"
                name="searchText"
              />
            </form>
            <div class="head-img">
              <img
                id="profileIcon"
                onclick="toggleProfileCard()"
                src="/images/admin.png"
                alt=""
              />
            </div>
          </div>
        </section>

        <div id="profileCard">
          <div class="head-detail">
            <img src="/images/admin.png" alt="" />
            <p><%=admin.firstName + ' ' + admin.lastName %></p>
            <form action="/admin/admin-logout" method="post">
              <button type="submit">Logout</button>
            </form>
          </div>
        </div>

        <section class="flex dashboard-info">
          <a class="addBtn" href="/admin/add-organizer">
            Add an Event Organizer<i class="fa-solid fa-plus"></i>
          </a>
          <a class="addBtn approve-btn" href="/admin/approve-organizer">
            Approve Organizers <i class="fa-solid fa-check"></i>
          </a>
          <% if (isArt !== 'null') { %> <% if (isArt === 'true') { %>
          <div class="success-card green" id="successCard">
            <span class="close-icon" onclick="closeCard()">&times;</span>
            <p>Successfully added Organizer!</p>
          </div>
          <% } else { %>
          <div class="success-card red" id="successCard">
            <span class="close-icon" onclick="closeCard()">&times;</span>
            <p>There was an Error!</p>
          </div>
          <% } %> <% } %> <% if (isDel) { %>
          <div class="success-card green" id="successCard">
            <span class="close-icon" onclick="closeCard()">&times;</span>
            <p>Successfully Deleted Organizer!</p>
          </div>
          <% } %> <% if (isEdited) { %>
          <div class="success-card green" id="successCard">
            <span class="close-icon" onclick="closeCard()">&times;</span>
            <p>Successfully Edited Organizer!</p>
          </div>
          <% } %>
        </section>

        <section class="dashboard">
          <% if (Organizers.length == 0) { %>
          <div class="noRecord record-center">
            <h2>No Organizer Found</h2>
            <img src="/images/NoRecord.png" alt="" />
          </div>
          <% } %>

          <div class="userList-more userList">
            <% for (let organizer of Organizers) { %>
            <div class="artist flex gap">
              <img src="/<%=organizer.logo%>" alt="" />
              <div class="artistDetail">
                <h2><%=organizer.organizationName%></h2>

                <span>
                  <p><%= organizer.description%></p>
                </span>
              </div>
              <div class="actionBtns">
                <button
                  class="deleteBtn"
                  onclick="window.location.href = '/admin/delete-organizer/<%=organizer._id%>'"
                >
                  Delete
                </button>
                <button
                  class="editBtn"
                  onclick="window.location.href = '/admin/edit-organizer/<%=organizer._id%>'"
                >
                  Edit
                </button>
              </div>
            </div>
            <% } %>
          </div>
        </section>
      </main>
    </section>

    <script src="/scripts/admin.js"></script>
  </body>
</html>
