<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Experiences</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/css/adminNavbar.css" />
    <link rel="stylesheet" href="/css/adminPanel.css" />
    <script
      src="https://kit.fontawesome.com/9d779ebc01.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <section class="flex container flexStart">
      <%- include('../includes/admin-nav.ejs') %>
      <main>
        <section class="dashboard-head flex">
          <div class="dashboard-head-primary flex">
            <i class="fa-solid fa-bars-staggered"></i>
            <h1>Experiences</h1>
          </div>

          <div class="dashboard-head-secondary flex gap">
            <form id="searchForm" action="/admin/experience" method="post">
              <input
                class="searchBox"
                type="text"
                id="searchInput"
                name="searchText"
                placeholder="Search"
                onkeydown="handleKeyPress(event)"
              />
            </form>
            <div class="head-img">
              <img
                id="profileIcon"
                onclick="toggleProfileCard()"
                src="/images/admin.png"
                alt=""
              />
            </div>
          </div>
        </section>

        <div id="profileCard">
          <div class="head-detail">
            <img src="/images/admin.png" alt="" />
            <p><%=admin.firstName + ' ' + admin.lastName %></p>
            <form action="/admin/admin-logout" method="post">
              <button type="submit">Logout</button>
            </form>
          </div>
        </div>
        <section class="flex dashboard-info">
          <a class="addBtn" href="/admin/add-experience">
            Add an Experience <i class="fa-solid fa-plus"></i>
          </a>
          <% if (isArt !== 'null') { %> <% if (isArt === 'true') { %>
          <div class="success-card green" id="successCard">
            <span class="close-icon" onclick="closeCard()">&times;</span>
            <p>Successfully added Experience!</p>
          </div>
          <% } else { %>
          <div class="success-card red" id="successCard">
            <span class="close-icon" onclick="closeCard()">&times;</span>
            <p>There was an Error!</p>
          </div>
          <% } %> <% } %> <% if (isEdited) { %>
          <div class="success-card green" id="successCard">
            <span class="close-icon" onclick="closeCard()">&times;</span>
            <p>Successfully Edited Experiences!</p>
          </div>
          <% } %> <% if (isDel) { %>
          <div class="success-card green" id="successCard">
            <span class="close-icon" onclick="closeCard()">&times;</span>
            <p>Successfully Deleted Experience!</p>
          </div>
          <% } %>
        </section>
        <% if (Events.length == 0) { %>
        <div class="noRecord record-center">
          <h2>No Experience Found</h2>
          <img src="/images/NoRecord.png" alt="" />
        </div>
        <% } %>
        <section class="dashboard">
          <div class="userList">
            <table>
              <thead>
                <tr>
                  <th>Name</th>
                  <th>City</th>
                  <th>Phone #</th>
                  <th>Category</th>
                  <th>More Info</th>
                  <th>Delete</th>
                  <th>Edit</th>
                </tr>
              </thead>
              <tbody>
                <% for (let Cafe of Events) { %>
                <tr>
                  <td><%=Cafe.name%></td>
                  <td><%=Cafe.city %></td>
                  <td><%=Cafe.number%></td>
                  <td><%=Cafe.category %></td>
                  <td class="actionBtns">
                    <button
                      class="viewBtn"
                      onclick="window.location.href = '/admin/ExpDetails/<%=Cafe._id%>'"
                    >
                      Details
                    </button>
                  </td>
                  <td class="actionBtns">
                    <button
                      class="deleteBtns"
                      onclick="window.location.href = '/admin/delExperience/<%=Cafe._id%>'"
                    >
                      Delete
                    </button>
                  </td>
                  <td class="actionBtns">
                    <button
                      class="editBtn"
                      onclick="window.location.href = '/admin/edit-experience/<%=Cafe._id%>'"
                    >
                      Edit
                    </button>
                  </td>
                </tr>

                <% } %>
              </tbody>
            </table>
          </div>
        </section>
      </main>
    </section>
    <script src="/scripts/admin.js"></script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const navLinks = document.querySelectorAll(".nav-link");

        navLinks.forEach(function (navLink) {
          navLink.addEventListener("click", function (event) {
            // Remove active class from all nav links
            navLinks.forEach(function (link) {
              link.classList.remove("active");
            });

            // Add active class to the clicked nav link
            this.classList.add("active");
          });
        });
      });
    </script>
  </body>
</html>
