<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Events</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/css/adminNavbar.css" />
    <link rel="stylesheet" href="/css/adminPanel.css" />
    <link rel="stylesheet" href="/css/adminEvent.css" />
    <script
      src="https://kit.fontawesome.com/9d779ebc01.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <section class="flex container flexStart">
      <%- include('../includes/admin-nav.ejs') %>
      <!-- **** Header **** -->
      <main>
        <section class="dashboard-head flex">
          <div class="dashboard-head-primary flex">
            <i class="fa-solid fa-bars-staggered"></i>
            <h1>Events</h1>
          </div>

          <div class="dashboard-head-secondary flex gap">
            <input class="searchBox" type="text" placeholder="Search" />
            <div class="head-img">
              <img
                id="profileIcon"
                onclick="toggleProfileCard()"
                src="/images/admin.png"
                alt=""
              />
            </div>
          </div>
        </section>

        <div id="profileCard">
          <div class="head-detail">
            <img src="/images/admin.png" alt="" />
            <p><%=admin.firstName + ' ' + admin.lastName %></p>
            <form action="/admin/admin-logout" method="post">
              <button type="submit">Logout</button>
            </form>
          </div>
        </div>

        <section class="flex dashboard-info">
          <div class="addBtn eventCount">
            <span> <%=total%> </span>

            Pending Events
          </div>

          <div class="flex gap message-btn">
            <% if (isApproved) { %>
            <div class="success-card green" id="successCard">
              <span class="close-icon" onclick="closeCard()">&times;</span>
              <p>Successfully Approved Event!</p>
            </div>

            <% } if (isRejected) { %>
            <div class="success-card red" id="successCard">
              <span class="close-icon" onclick="closeCard()">&times;</span>
              <p>Successfully Rejected Event!</p>
            </div>
          </div>
          <% } %>
        </section>

        <section class="dashboard">
          <div class="userList">
            <table>
              <thead>
                <tr>
                  <th>Event Name</th>
                  <th>Organization Name</th>
                  <th>Event Date</th>
                  <th>Event Time</th>
                  <th>Event Ticketed?</th>
                  <th>Event Address</th>
                  <th>Phone #</th>
                  <th>Email</th>
                  <th>Reject</th>
                  <th>Approve</th>
                </tr>
              </thead>
              <tbody>
                <% for (let event of Events) { %>
                <tr>
                  <td><%=event.name%></td>
                  <td><%=event.OrganizerId.organizationName%></td>
                  <td>
                    <%=event.startDate.getDate()%> <%=
                    helper.getMonthAbbreviation(event.startDate.getMonth()+1)%>
                    <%=event.startDate.getFullYear()%>
                  </td>
                  <td><%=event.eventTime%></td>
                  <td><%=event.ticketed? "Yes" : "No" %></td>
                  <td><%=event.address%></td>
                  <td><%=event.OrganizerId.number%></td>
                  <td><%=event.OrganizerId.email%></td>

                  <td class="actionBtns">
                    <button
                      class="deleteBtns"
                      onclick="window.location.href = '/admin/events/reject/<%=event._id%>'"
                    >
                      Reject
                    </button>
                  </td>
                  <td class="actionBtns">
                    <button
                      class="editBtn widthFull"
                      onclick="window.location.href = '/admin/events/approved/<%=event._id%>'"
                    >
                      Approve
                    </button>
                  </td>
                </tr>
                <% } %>
              </tbody>
            </table>
          </div>

          <% if (Events.length == 0) { %>
          <div class="noRecord record-center">
            <h2>No Events to Approve</h2>
            <img src="/images/NoRecord.png" alt="" />
          </div>
          <% } %>
        </section>
      </main>
    </section>

    <script src="../scripts/admin.js"></script>
  </body>
</html>
