<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add an Artist</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/css/adminNavbar.css" />
    <link rel="stylesheet" href="/css/adminPanel.css" />
    <script
      src="https://kit.fontawesome.com/9d779ebc01.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <section class="flex container flexStart">
      <%- include('../includes/admin-nav.ejs') %>

      <main>
        <section class="dashboard-head flex">
          <div class="dashboard-head-primary flex">
            <i class="fa-solid fa-bars-staggered"></i>
            <h1>Add an Organizer</h1>
          </div>

          <div class="dashboard-head-secondary flex gap">
            <div class="head-img">
              <img
                id="profileIcon"
                onclick="toggleProfileCard()"
                src="/images/admin.png"
                alt=""
              />
            </div>
          </div>
        </section>

        <div id="profileCard">
          <div class="head-detail">
            <img src="/images/admin.png" alt="" />
            <p><%=admin.firstName + ' ' + admin.lastName %></p>
            <form action="/admin/admin-logout" method="post">
              <button type="submit">Logout</button>
            </form>
          </div>
        </div>
        <% if (errorMessage !== null) { %>
        <section class="flex dashboard-info">
          <div class="success-card red" id="successCard">
            <span class="close-icon" onclick="closeCard()">&times;</span>
            <p><%=errorMessage%></p>
          </div>
        </section>
        <% } %>
        <section class="dashboard list">
          <form class="product-form" action="/admin/edit-organizer" method="POST" enctype="multipart/form-data">
            <div class="form-control">
              <label for="fname">First Name</label>
              <input
                class="width-small"
                type="text"
                name="fname"
                id=""
                placeholder="Coke"
                value="<%=Organizer.firstname%>"
                required
              />
            </div>
            <div class="form-control">
              <label for="lname">Last Name</label>
              <input
                class="width-small"
                type="text"
                name="lname"
                id=""
                placeholder="Studio"
                value="<%=Organizer.lastname%>"
                required
              />
            </div>

            <div class="form-control">
              <label for="organization">Organization Name</label>

              <input
                class="width margin"
                type="text"
                name="organization"
                id="organization"
                placeholder="Organization Name"
                value="<%=Organizer.organizationName%>"
                required
              />
            </div>

            <div class="form-control">
              <label for="imageURL">Partner Image:</label>
              <input
                type="file"
                name="imageURL[]"
                id="ImageURL"
                accept="image/*"
                multiple
                required
              />
            </div>

            <div class="form-control desc">
              <label for="description">Partner Description:</label>
              <textarea
                name="description"
                id="Description"
                rows="5"
                placeholder="Description Here!"
              ><%=Organizer.description %></textarea>
            </div>

            <div class="form-control">
              <label for="email">Partner Email</label>

              <input
                class="width margin"
                type="text"
                name="email"
                id=""
                placeholder="Email"
                value="<%=Organizer.email%>"
                required
              />
            </div>

            <div class="form-control">
              <label for="phone">Phone Number</label>
              <input
                class="width margin"
                type="tel"
                name="phone"
                id=""
                placeholder="Phone Number"
                value="<%=Organizer.number%>"
                
                required
              />
            </div>

            <input type="hidden" value="<%=Organizer._id%>" name="organizerId">


            <div class="confirmBtn">
              <button class="addBtn" id="confirm" type="submit">Confirm</button>
            </div>
          </form>
        </section>
    <script src="/scripts/admin.js"></script>
  </body>
</html>
