<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog Details</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="./styles/restaurants.css" />
    <link rel="stylesheet" href="/css/blogs.css" />
    <link rel="stylesheet" href="/css/adminNavbar.css" />
    <link rel="stylesheet" href="/css/adminPanel.css" />
    <script
      src="https://kit.fontawesome.com/9d779ebc01.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://unpkg.com/trix@2.0.8/dist/trix.css"
    />
    <script
      type="text/javascript"
      src="https://unpkg.com/trix@2.0.8/dist/trix.umd.min.js"
    ></script>
  </head>
  <body>
    <section class="flex container flexStart">
      <%- include('../includes/admin-nav.ejs') %>
      <main>
        <section class="dashboard-head flex">
          <div class="dashboard-head-primary flex">
            <i class="fa-solid fa-bars-staggered"></i>
            <h1>Blog Detail</h1>
          </div>

          <div class="dashboard-head-secondary">
            <div class="head-img">
              <img
                id="profileIcon"
                onclick="toggleProfileCard()"
                src="/images/admin.png"
                alt=""
              />
            </div>
          </div>
        </section>

        <div id="profileCard">
          <div class="head-detail">
            <img src="/images/admin.png" alt="" />
            <p><%=admin.firstName + ' ' + admin.lastName %></p>
            <form action="/admin/admin-logout" method="post">
              <button type="submit">Logout</button>
            </form>
          </div>
        </div>
        <section class="explore-body wrapper container">
          <div class="explore-box blog-box">
            <div class="explore-box-image">
              <img src="/<%=Blog.imageUrl %>" alt="" />
            </div>
            <div class="explore-box-desc">
              <h3><%= Blog.title %></h3>
              <p>By <%= Blog.Author%> | Posted: March 08, 2024</p>
            </div>

            <div id="content-box" class="explore-box-end trix-content">
<%- Blog.description %>
            </div>

              
            </div>
          </div>
        </section>
      </main>
    </section>

    <script src="/scripts/admin.js"></script>

  </body>
</html>
