<!-- ----------------- Header ---------------------- -->
<header>
  <div class="container flex gap">
    <div class="bar menu-toggle" onclick="toggleMenu()">
      <i class="fa-solid fa-bars"></i>
    </div>

    <div class="flex flex-center">
      <a href="/home">
        <img
          class="header-logo tablet-logo"
          src="/images/newlogo.png"
          alt=""
          hidden
        />
      </a>
    </div>

    <nav class="primary-nav flex gap menu" style="left: -1500px">
      <a href="/home">
        <img
          class="header-logo laptop-logo"
          src="/images/newlogo.png"
          alt="Experience Pakistan Logo"
      /></a>

      <ul class="flex gap menu-nav">
        <li>
          <a href="/home" class="<%=path === '/home' ? 'link-active' : '' %>"
            >Home</a
          >
        </li>
        <li>
          <a
            href="/artists"
            class="<%=(path === '/artists' || path === '/specific-artist' || path === '/artist-details') ? 'link-active' : '' %>"
            >Artist</a
          >
        </li>
        <li>
          <a
            href="/partners"
            class="<%=path === '/Partners' ? 'link-active' : '' %>"
            >Partners</a
          >
        </li>

        <li class="dropdown">
          <a
            href="#"
            class="dropbtn <%= (path === '/things-to-do-restaurant' || path === '/things-to-do-experience' || path === '/specific-restaurant' || path === '/Specifictype-restaurants' || path === '/things-to-to-experience') ? 'link-active' : '' %>"
            >Things to Do</a
          >
          <div class="dropdown-content">
            <ul>
              <li>
                <a
                  href="/things-to-do/food&drinks"
                  class="<%=(path === '/things-to-do-restaurant' || path === '/specific-restaurant' || path === '/Specifictype-restaurants' ) ? 'link-active' : '' %>"
                  >Food & Drink</a
                >
              </li>
              <li>
                <a
                  href="/things-to-do/experiences"
                  class="<%= (path === '/things-to-do-experience' || path === '/things-to-to-experience') ? 'link-active' : '' %>"
                  >Experiences</a
                >
              </li>
            </ul>
          </div>
        </li>

        <li class="dropdown">
          <a
            href="#"
            class="dropbtn <%=path === '/City' || path == '/view-events' ? 'link-active' : '' %>"
            >Events</a
          >
          <div class="dropdown-content">
            <ul>
              <li>
                <a
                  href="/city?city=Karachi"
                  class="<%=path === '/City' && City ==='Karachi' ? 'link-active' : '' %>"
                  >Karachi</a
                >
              </li>
              <li>
                <a
                  href="/city?city=Lahore"
                  class="<%=path === '/City' && City ==='Lahore' ? 'link-active' : '' %>"
                  >Lahore</a
                >
              </li>
              <li>
                <a
                  href="/city?city=Islamabad"
                  class="<%=path === '/City' && City ==='Islamabad' ? 'link-active' : '' %>"
                  >Islamabad</a
                >
              </li>
            </ul>
          </div>
        </li>

        <span class="actionButtons hidden gap">
          <a class="actionButtons-1" href="/organizer/signup">
            Organize An Event</a
          >

          <% if (!isUserAuthenticated) { %>
          <li class="actionButtons-3 dropdown">
            <a href="#" class="dropbtn">
              <i class="fa-sharp fa-solid fa-user"></i
            ></a>
            <div class="dropdown-content right bottom">
              <ul>
                <li><a href="/user/login">Customer Login</a></li>
                <li>
                  <a href="/organizer/login">Organizer Login</a>
                </li>
                <li><a href="/admin/admin-login">Admin Login</a></li>
              </ul>
            </div>
          </li>
          <% } else {%>
          <li class="actionButtons-3 dropdown">
            <a href="#" class="dropbtn">
              <i class="fa-sharp fa-solid fa-user"></i
            ></a>
            <div class="dropdown-content right bottom">
              <ul>
                <li>
                  <a href="/user/dashboard">
                    <i
                      class="fa-solid fa-house-user"
                      style="margin-right: 0.5rem"
                    ></i>
                    Profile</a
                  >
                </li>
                <li>
                  <a href="/user/logout">
                    <i
                      class="fa-solid fa-power-off"
                      style="margin-right: 0.5rem"
                    ></i>
                    Logout</a
                  >
                </li>
              </ul>
            </div>
          </li>
          <%}%>
        </span>
      </ul>
    </nav>

    <div
      class="actionButtons flex menu-2 <%= isUserAuthenticated == true ? 'actionButtons-fix' : ' ' %>"
    >
      <% if (isUserAuthenticated) { %>

      <ul>
        <li class="actionButtons-3 dropdown">
          <a href="#" class="dropbtn">
            <i class="fa-sharp fa-solid fa-user"></i
          ></a>
          <div class="dropdown-content right">
            <ul>
              <li>
                <a href="/user/dashboard">
                  <i
                    class="fa-solid fa-house-user"
                    style="margin-right: 0.5rem"
                  ></i>
                  Profile</a
                >
              </li>
              <li>
                <a href="/user/logout">
                  <i
                    class="fa-solid fa-power-off"
                    style="margin-right: 0.5rem"
                  ></i>
                  Logout</a
                >
              </li>
            </ul>
          </div>
        </li>
      </ul>

      <% } else { %>
      <a class="actionButtons-1" href="/organizer/signup">
        Organize An Event
      </a>
      <%}%>
      <ul>
        <% if (!isUserAuthenticated) { %>

        <li class="actionButtons-3 dropdown">
          <a href="#" class="dropbtn">
            <i class="fa-sharp fa-solid fa-user"></i
          ></a>
          <div class="dropdown-content right">
            <ul>
              <li><a href="/user/login">Customer Login</a></li>
              <li>
                <a href="/organizer/login">Organizer Login</a>
              </li>
              <li><a href="/admin/admin-login">Admin Login</a></li>
            </ul>
          </div>
          <% } %>
        </li>
      </ul>
    </div>
  </div>
</header>
