<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Organizer | Event List</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&family=Nanum+Gothic:wght@400;700;800&display=swap"
      rel="stylesheet"
    />

    <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />

    <link rel="stylesheet" href="/css/organizerhead-foot.css" />
    <link rel="stylesheet" href="/css/eventList.css" />

    <script
      src="https://kit.fontawesome.com/9d779ebc01.js"
      crossorigin="anonymous"
    ></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  </head>
  <body>
    <!-- ----------------- Header ---------------------- -->
    <%- include('../includes/organizer-header.ejs') %>
    <!-- ----------------- Hero Section ---------------------- -->
    <main class="eventList">
      <div class="container">
        <section class="list-head">
          <h1>All Events List</h1>
        </section>

        <% if (Events.length == 0){%>
        <div class="noRecord record-center">
          <h2>No Events Found</h2>
          <img src="/images/NoRecord.png" alt="" />
        </div>
        <%} %>
        <section class="list-body wrapper flex gap">
          <% for (let event of Events) { %>
          <div class="card" data-aos="zoom-in-down">
            <div class="card-img">
              <img src="/<%=event.imageUrl%>" alt="" />
            </div>

            <div class="card-body">
              <h2><%=event.name%></h2>

              <p>
                <%= event.description.length > 100 ? event.description.slice(0,
                100) + '...' : event.description %>
              </p>

              <p>
                <%=event.startDate.getDate()%>
                <%=helper.getMonthAbbreviation(event.startDate.getMonth()+1)%>
                <%=event.startDate.getFullYear()%>
              </p>
              <div class="flex flex-centers status gap-small">
                <h3>Status:</h3>
                <% if (!event.isApproved) { %> <% if (event.isApproved) { %>
                <p style="color: blue">Approved</p>
                <% } else { %>
                <p>Pending</p>
                <% } %> <% } else { %>
                <p style="color: green">Approved</p>
                <% } %>
              </div>

              <div class="flex flex-centers status gap-small">
                <% if (event.isApproved) { %>
                <button
                  class="ticket-btn"
                  onclick="window.location.href='/organizer/ticket-info/<%=event._id%>'"
                >
                  Ticket Info
                </button>
                <% } %>
              </div>
            </div>
          </div>
          <% } %>
        </section>
      </div>
    </main>
    <!-- ----------------- Call to Action Section ---------------------- -->

    <%- include('../includes/newsletter.ejs') %>

    <!-- ----------------- Footer Section ---------------------- -->

    <%- include('../includes/footer.ejs') %>

    <!-- ----------------- Scripts ---------------------- -->

    <script src="./scripts/menu.js"></script>
  </body>
</html>
