<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LogIn</title>
    <link rel="stylesheet" href="/css/headerFooter.css" />
    <link rel="stylesheet" href="/css/signup.css" />

    <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&family=Nanum+Gothic:wght@400;700;800&display=swap"
      rel="stylesheet"
    />

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

    <script
      src="https://kit.fontawesome.com/9d779ebc01.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <!-- ----------------- Header ---------------------- -->
    <%- include('../includes/header.ejs') %>
    <!-- ----------------- Main Section ---------------------- -->
    <main class="container flex">
      <div class="main-left">
        <img src="/images/form.svg" alt="" />
      </div>
      <div class="main-right">
        <section class="center">
          <h1>LogIn</h1>
          <p>Don't have an account? <a href="/organizer/signup">Sign UP</a></p>
          <form action="/organizer/login" method="post">
            <label for="email">Email</label>
            <br />
            <input
              class="width margin"
              type="email"
              name="email"
              id=""
              placeholder="Email"
              value="<%=oldInput.email%>"
            />
            <br />
            <label for="password">Password</label><br />
            <input
              class="width margin-less"
              type="password"
              name="password"
              id=""
              placeholder="Password"
            /><br />

            <button class="submit-btn" type="submit">Submit</button>
          </form>

          <% if (wrongPass) { %>
          <p><a href="/organizer/resetPassword">Forgot Password?</a></p>
          <% } %> <% if(errorMessage) {%>
          <h4 class="errorMessage">
            <i class="fa-solid fa-triangle-exclamation"></i> <%=errorMessage%>
          </h4>
          <%}%>
        </section>
      </div>
    </main>

    <!-- ----------------- Call to Action Section ---------------------- -->

    <%- include('../includes/newsletter.ejs') %>

    <!-- ----------------- Footer Section ---------------------- -->

    <%- include('../includes/footer.ejs') %>
  </body>
</html>
