<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Password Change</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&family=Nanum+Gothic:wght@400;700;800&display=swap"
      rel="stylesheet"
    />

    <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />

    <link rel="stylesheet" href="/css/organizersDashboard.css" />
    <link rel="stylesheet" href="/css/signup.css" />

    <script
      src="https://kit.fontawesome.com/9d779ebc01.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <!-- ----------------- Header ---------------------- -->
    <%- include('../includes/organizer-header.ejs') %>
    <!-- ----------------- Hero Section ---------------------- -->
    <main>
      <div class="container">
        <section class="organizer">
          <h1>Password Update</h1>
        </section>
        <section class="container wrapper">
          <form action="/organizer/edit-info" method="post">
            <label for="password">Password</label><br />
            <input
              class="width margin-less"
              type="password"
              name="password"
              id=""
              placeholder="Password"
              value="<%=password%>"
              required
            />
            <br />
            <input
              class="width"
              type="password"
              name="cpassword"
              id=""
              placeholder="Confirm Password"
              value="<%=cpassword%>"
              required
            />

            <br />

            <h4><%= errorMessage%></h4>

            <div class="main-form form-btn">
              <button
                class="submit-btn"
                type="submit
                "
                placeholder="Submit"
              >
                Submit
              </button>
            </div>
          </form>
        </section>
      </div>
    </main>

    <!-- ----------------- Call to Action Section ---------------------- -->

    <%- include('../includes/newsletter.ejs') %>

    <!-- ----------------- Footer Section ---------------------- -->

    <%- include('../includes/footer.ejs') %>
  </body>
</html>
