<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wishlist</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&family=Nanum+Gothic:wght@400;700;800&display=swap"
      rel="stylesheet"
    />

    <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />

    <link rel="stylesheet" href="/css/restaurants.css" />
    <link rel="stylesheet" href="/css/entertainment.css" />
    <link rel="stylesheet" href="/css/image-grid.css" />

    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/userDashboard.css" />

    <script
      src="https://kit.fontawesome.com/9d779ebc01.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <!-- ----------------- Header ---------------------- -->
    <%- include('../includes/user-header.ejs') %>

    <main class="title">
      <h2>Wishlist</h2>

      <% if (isRemoved) { %>

      <div
        class="success-card green"
        id="successCard"
        style="margin-left: auto"
      >
        <span class="close-icon" onclick="closeCard()">&times;</span>
        <p>Successfully Removed!</p>
      </div>
      <% } %>

      <section class="lists">
        <div class="lists-head flex-start">
          <i class="fa-solid fa-arrows-to-dot"></i>
          <h2>Food & Drinks</h2>
        </div>

        <% let hasRestaurant = false; Wishlist.forEach(item => { if (item.type
        === 'Restaurant') { hasRestaurant = true; } }); %>
        <!--  -->

        <!--  -->
        <%if (hasRestaurant) { %>
        <div class="food-browses flex gap flex-wrap">
          <% Wishlist.forEach(rest => { %> <% if (rest.type === 'Restaurant') {
          %>
          <a
            href="/things-to-do/food&drinks/<%=rest.item._id %>"
            class="food-link"
          >
            <div class="food-browse-box">
              <% if (rest.item.imageUrl[0].includes("cloudinary") ||
              rest.item.imageUrl[0].includes("tripadvisor")) { %>
              <img src="<%= rest.item.imageUrl[0] %>" alt="Artist Image" />
              <% } else { %>
              <img src="/<%= rest.item.imageUrl[0] %>" alt="Artist Image" />
              <% } %>

              <span class="remove">
                <button
                  class="delete-btns"
                  onclick="window.location.href='/user/wishlist/remove-from-wishlist/<%=rest.item._id%>'"
                >
                  Remove from list
                </button>
              </span>

              <input
                type="hidden"
                name="restaurantId"
                value="<%=rest.item._id%>"
              />

              <h3><%= rest.item.name %></h3>
              <div class="review flex gap-small" id="margin-set">
                <% if (rest.item.ratingPicture !== null) { %>
                <div class="rating flex" id="margin-set">
                  <img src="<%= rest.item.ratingPicture %>" />
                </div>
                <% } else { %>
                <div class="review flex gap-small" id="margin-set">
                  <img
                    src="https://www.tripadvisor.com/img/cdsi/img2/ratings/traveler/4.0-66827-5.svg"
                  />
                </div>
                <% } %>
                <p class="light"><%=rest.item.rating%></p>
              </div>
              <div class="tags light flex padd-left" id="padd-left">
                <% for (let i = 0; i < rest.item.cuisine.length; i++) { %>
                <p>
                  <%= rest.item.cuisine[i] %><%= i === rest.item.cuisine.length
                  - 1 ? '' : ',' %>
                </p>
                <% } %>
              </div>
            </div>
          </a>
          <% } }) %>
        </div>

        <%} else {%>
        <div class="noRecord record-center">
          <h3>No Restaurant in Wishlist</h3>
          <img src="/images/NoRecord.png" alt="" />
        </div>
        <%}%>
      </section>

      <% let hasExperience = false; Wishlist.forEach(item => { if (item.type ===
      'Experience') { hasExperience = true; } }); %>

      <section class="lists">
        <div class="lists-head flex-start">
          <i class="fa-solid fa-arrows-to-dot"></i>
          <h2>Experiences</h2>
        </div>
        <%if (hasExperience) { %>
        <div class="food-browses flex gap flex-wrap">
          <% Wishlist.forEach(rest => { %> <% if (rest.type === 'Experience') {
          %>
          <a href="/experiences/see-more/<%=rest.item._id%>" class="food-link">
            <div class="food-browses-box">
              <% if (rest.item.imageUrl[0].includes("cloudinary") ||
              rest.item.imageUrl[0].includes("tripadvisor")) { %>
              <img src="<%= rest.item.imageUrl[0] %>" alt="Artist Image" />
              <% } else { %>
              <img src="/<%= rest.item.imageUrl[0] %>" alt="Artist Image" />
              <% } %>

              <span class="remove">
                <button
                  class="delete-btns"
                  onclick="window.location.href='/user/wishlist/remove-from-wishlist/<%=rest.item._id%>'"
                >
                  Remove from list
                </button>
              </span>
              <div class="browses-box-detail">
                <span><%= rest.item.city %></span>
                <h3><%= rest.item.name %></h3>
                <input
                  type="hidden"
                  name="restaurantId"
                  value="<%=rest.item._id%>"
                />

                <div class="review flex gap-small" id="margin-set">
                  <% if (rest?.ratingPicture) { %>
                  <div class="rating flex" id="margin-set">
                    <img src="<%= rest.ratingPicture %>" />
                  </div>

                  <% } else { %>
                  <div class="review flex gap-small" id="margin-set">
                    <img
                      src="https://www.tripadvisor.com/img/cdsi/img2/ratings/traveler/4.0-66827-5.svg"
                    />
                  </div>
                  <% } %>
                  <p class="light"><%=rest.rating%></p>
                </div>

                <div class="tags flex browses-box-more">
                  <p>See More</p>
                  <button><i class="fa-solid fa-chevron-right"></i></button>
                </div>
              </div>
            </div>
          </a>
          <% } %> <% })%>
        </div>
        <% }else {%>
        <div class="noRecord record-center">
          <h3>No Experience in Wishlist</h3>
          <img src="/images/NoRecord.png" alt="" />
        </div>
        <%}%>
      </section>
    </main>

    <!-- ----------------- Scripts ---------------------- -->
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>

    <script src="../scripts/menu.js"></script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const removed = document.querySelectorAll(".remove");

        removed.forEach(function (remove) {
          remove.addEventListener("click", function (event) {
            event.preventDefault();
          });
        });
      });
    </script>

    <script>
      function closeCard() {
        var successCard = document.getElementById("successCard");
        successCard.style.display = "none";
      }
    </script>
  </body>
</html>
