<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blogs</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&family=Nanum+Gothic:wght@400;700;800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/headerFooter.css" />
    <link rel="stylesheet" href="/css/restaurants.css" />
    <link rel="stylesheet" href="/css/blogs.css" />

    <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />

    <script
      src="https://kit.fontawesome.com/9d779ebc01.js"
      crossorigin="anonymous"
    ></script>

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  </head>
  <body>
    <!-- ----------------- Header ---------------------- -->
    <%- include('../includes/header.ejs') %>
    <!-- ----------------- Blog Detail Section ---------------------- -->

    <main class="explore-body wrapper container">
      <div class="explore-box blog-box">
        <div class="explore-box-image">
          <% if (Blog.imageUrl.includes("cloudinary")) { %>
          <img src="<%= Blog.imageUrl %>" alt="Organizer Image" />
          <% } else { %>
          <img src="/<%= Blog.imageUrl %>" alt="Organizer Image" />
          <% } %>
        </div>
        <div class="explore-box-desc">
          <h3><%=Blog.title%></h3>
          <p>
            <%=Blog.Author%> | Posted: <%=
            helper.getMonthAbbreviation(Blog.createdAt.getMonth()+1)%>
            <%=Blog.createdAt.getDate() %>, <%=Blog.createdAt.getFullYear() %>
          </p>
        </div>
        <div class="explore-box-end"><%- Blog.description%></div>
      </div>
    </main>

    <!-- ----------------- Call to Action Section ---------------------- -->

    <%- include('../includes/newsletter.ejs') %>

    <!-- ----------------- Footer Section ---------------------- -->

    <%- include('../includes/footer.ejs') %>
  </body>
</html>
