<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Experience <%= City %></title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&family=Nanum+Gothic:wght@400;700;800&display=swap"
      rel="stylesheet"
    />

    <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />

    <link rel="stylesheet" href="/css/headerFooter.css" />
    <link rel="stylesheet" href="css/experienceKarachi.css" />
    <link rel="stylesheet" href="/css/navbar.css" />
    <link rel="stylesheet" href="/css/carousel.css" />
    <script
      src="https://kit.fontawesome.com/9d779ebc01.js"
      crossorigin="anonymous"
    ></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <style>
      .chat-container {
        border-radius: 50px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
        text-align: center;
        color: white;
        position: fixed;
        top: 95%;
        right: 20px;
        transform: translateY(-50%);
        z-index: 1000;
        width: 150px;
      }
      .chat-container h6 {
        margin: 0 0 10px 0;
        font-size: 16px;
        font-weight: 600;
      }
      .chat-container a {
        text-decoration: none;
        color: white;
        display: inline-flex;
        align-items: center;
        padding: 8px 15px;
        border-radius: 30px;
        background: #f47725;
        transition: background 0.3s;
        font-size: 14px;
      }
      .chat-container a:hover {
        background: rgb(255, 255, 255);
        color: #f47725;
        border: solid 1px orange;
      }
      .chat-container i {
        margin-right: 5px;
        font-size: 18px;
      }
    </style>
  </head>
  <body>
    <!-- ----------------- Header ---------------------- -->
    <%- include('../includes/header.ejs') %>
    <!-- ----------------- Hero Section ---------------------- -->

    <section class="container flex hero">
      <div class="hero-info wrapper">
        <h1>Experience <%=City%></h1>
        <% if (City === 'Karachi') { %>
        <p>
          Karachi, the largest city and economic powerhouse of Pakistan, is a
          bustling metropolis on the Arabian Sea. Known for its diverse
          population and dynamic culture, Karachi is a melting pot of different
          ethnicities and languages.
        </p>
        <% } else if (City === 'Islamabad') { %>
        <p>
          Islamabad, the capital city of Pakistan, is known for its picturesque
          landscapes, modern infrastructure, and serene ambiance. Nestled at the
          foothills of the Margalla Hills, Islamabad offers a unique blend of
          natural beauty and urban development.
        </p>
        <% } else { %>
        <p>
          Lahore, often referred to as the "Heart of Pakistan," is the country's
          second-largest city and a vibrant cultural hub. Known for its rich
          history, Lahore boasts architectural marvels such as the Badshahi
          Mosque and Lahore Fort. The city is famous for its lively atmosphere,
          delicious food, and traditional arts and crafts
        </p>
        <% } %>

        <a class="explore-btn" href="">Explore More</a>
      </div>
      <div class="hero-img">
        <% if (City === 'Karachi') { %>
        <img src="/images/exp-karachi.png" alt="Experience Karachi" />
        <% } else if (City === 'Islamabad') { %>
        <img src="/images/islamabad.png" alt="Experience Lahore" />
        <% } else { %>
        <img src="/images/3.jpeg" alt="Default Image" />
        <% } %>
      </div>
    </section>

    <!-- ----------------- Events Section ------------------------------ -->

    <main class="container wrapper events">
      <h1>Happening in <%=City %></h1>

      <section class="flex">
        <div class="filters">
          <div class="filter-head flex gap-small flex-centers">
            <h2><%=Events.length%></h2>
            <p>Listings</p>
          </div>
          <form action="/view-events?city=<%=City%>" method="post">
            <div class="filter-body event-mobile">
              <h2 class="event-tablet">Filters</h2>
              <div class="filter-1">
                <h3>Interest</h3>
                <span>
                  <input type="checkbox" name="Interest" value="education" />
                  <label for="education">Education</label>
                </span>
                <br />
                <span>
                  <input
                    type="checkbox"
                    name="Interest"
                    value="Arts & Culture"
                  />
                  <label for="art">ArtS & Culture</label>
                </span>
                <br />
                <span>
                  <input type="checkbox" name="Interest" value="Concert" />
                  <label for="music">Music</label>
                </span>
                <br />
                <span
                  ><input type="checkbox" name="Interest" value="Sports" />
                  <label for="sports">Sports</label>
                </span>
                <br />
                <span
                  ><input type="checkbox" name="Interest" value="Others" />
                  <label for="sports">Others</label>
                </span>

                <br />
              </div>

              <div class="filter-2">
                <h3>Date</h3>

                <br />
                <span>
                  <input type="radio" name="Date" value="3-days" />
                  <label for="3days">Next 3 Days</label>
                </span>
                <br />
                <span>
                  <input type="radio" name="Date" value="week" />
                  <label for="week">Next Week</label>
                </span>
                <br />
                <span>
                  <input type="radio" name="Date" value="30 days" />
                  <label for="nextmonth">Next Month</label>
                </span>
                <br />
              </div>

              <div class="filter-3">
                <h3>Type</h3>
                <span>
                  <input type="checkbox" name="type" value="featured" />
                  <label for="feature">Featured</label>
                </span>
                <br />
                <span>
                  <input type="checkbox" name="type" value="free" />
                  <label for="free">Free</label>
                </span>
                <br />
                <span>
                  <input type="checkbox" name="type" value="ticket" />
                  <label for="ticket">Ticketed</label>
                </span>
                <br />
              </div>
              <button class="search-btn" type="submit">Search</button>
            </div>
          </form>
        </div>
        <div class="events-body">
          <!-- *************************************************************** -->
          <!-- Featured Events -->
          <section>
            <h2>Featured Events</h2>
            <div class="slider">
              <% for (let event of featuredEvents) { %>
              <a href="/event-info/<%=event._id%>" class="slide">
                <div class="image-container">
                  <img src="<%=event.imageUrl%>" alt="Event Image" />
                </div>
                <div class="content-container">
                  <h2><%=event.name%></h2>
                  <p><%=event.address%></p>
                  <p>
                    <span>Date:</span>
                    <%=helper.getMonthAbbreviation(event.startDate.getMonth()+1)%>
                    <%=event.startDate.getDate() %>, <%=
                    event.endDate.getFullYear() %>
                  </p>
                  <p><span>Time:</span> <%=event.eventTime%></p>
                  <button>View Details</button>
                </div>
              </a>
              <% } %>
            </div>
            <% if (featuredEvents.length == 0){%>
            <div class="noRecord record-center">
              <h2>No Featured Events Avaiable !</h2>
              <img
                style="width: 250px"
                src="/images/he_sitting_with_notebook.png"
                alt=""
              />
            </div>
            <%} %>
          </section>
          <!-- Latest Events -->
          <div class="eventType-1">
            <div class="eventType-head flex">
              <h2>Latest Events</h2>
              <a href="/view-all?city=<%=City%>" class="flex more gap-small">
                <p>View All</p>
                <i class="fa-solid fa-arrow-right"></i>
              </a>
            </div>
          </div>
          <% if (Events.length == 0){%>
          <div class="noRecord record-center">
            <h2>No Events Avaiable !</h2>
            <img
              style="width: 250px"
              src="/images/he_sitting_with_notebook.png"
              alt=""
            />
          </div>
          <%} %>

          <!-- Events 1 -->
          <div class="flex gap-large eventType-body">
            <% for (let Event of Events) { %>

            <div class="event1">
              <div class="event-img">
                <img src="<%= Event.imageUrl %>" alt="" />
              </div>
              <div class="event1-body flex">
                <div class="event-left">
                  <span class="date">
                    <h3><%=Event.startDate.getDate() %></h3>
                    <p>
                      <%=
                      helper.getMonthAbbreviation(Event.startDate.getMonth()+1)%>
                      <br />
                      <%= Event.startDate.getFullYear() %>
                    </p>
                  </span>
                  <span>
                    <h3><%=Event.endDate.getDate() %></h3>
                    <p>
                      <%=
                      helper.getMonthAbbreviation(Event.endDate.getMonth()+1)%>
                      <br />
                      <%= Event.endDate.getFullYear() %>
                    </p>
                  </span>
                </div>
                <div class="event-right">
                  <h3><%=Event.name%></h3>
                  <span><%=Event.address %></span>

                  <p>
                    <%=Event.eventTime %><br />
                    Onwards
                  </p>

                  <a href="/event-info/<%=Event._id%>">View Details</a>
                </div>
              </div>
            </div>
            <% } %>
          </div>
        </div>
      </section>
    </main>
    <div class="chat-container">
      <a
        href="https://wa.me/00923081877779?text=Hey, I need some help regarding tickets."
        target="_blank"
      >
        <i class="fab fa-whatsapp"></i>
        Chat on WhatsApp
      </a>
    </div>
    <!-- ----------------- Call to Action Section ---------------------- -->

    <%- include('../includes/newsletter.ejs') %>

    <!-- ----------------- Footer Section ---------------------- -->

    <%- include('../includes/footer.ejs') %>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        let slides = document.querySelectorAll(".slide");
        let currentSlide = 0;

        function showSlide(index) {
          let newTransformValue = `translateX(-${index * 100}%)`;
          slides.forEach((slide) => {
            slide.style.transform = newTransformValue;
          });
        }

        // Automatic slide transition
        setInterval(() => {
          currentSlide = (currentSlide + 1) % slides.length;
          showSlide(currentSlide);
        }, 3000); // Change slide every 3 seconds
      });
    </script>
  </body>
</html>
