<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Our Partners</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&family=Nanum+Gothic:wght@400;700;800&display=swap"
      rel="stylesheet"
    />

    <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />

    <link rel="stylesheet" href="/css/headerFooter.css" />
    <link rel="stylesheet" href="/css/partners.css" />
    <link rel="stylesheet" href="/css/navbar.css" />

    <link rel="stylesheet" href="/css/partnerEvent.css" />

    <script
      src="https://kit.fontawesome.com/9d779ebc01.js"
      crossorigin="anonymous"
    ></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  </head>
  <body>
    <!-- ----------------- Header ---------------------- -->
    <%- include('../includes/header.ejs') %>
    <!-- ----------------- Our Partners Section ---------------------- -->

    <main class="container">
      <section class="partners">
        <h1>Events by <%=organizerName%></h1>
      </section>
      <div class="events-container">
        <div class="events-wrapper">
          <% if (Events.length > 0) { %> <% Events.forEach(event => { %>
          <div class="event-card">
            <% if (event?.imageUrl.includes("cloudinary")) { %>
            <img src="<%= event.imageUrl %>" alt="Artist Image" />
            <% } else { %>
            <img src="/<%= event.imageUrl %>" alt="Artist Image" />
            <% } %>
            <div class="event-category"><%= event.eventType %></div>
            <div class="event-card-body">
              <h2><%= event.name %></h2>
              <p><%= event.description.slice(0, 70) %>...</p>
              <% if (new Date(event.startDate) > Date.now()) { %>
              <button
                class="view-details-btn"
                onclick="window.location.href='/event-info/<%=event._id%>'"
              >
                View Details
              </button>
              <% } %> <% if (new Date(event.startDate) < Date.now()) { %>
              <button
                class="review-btn"
                onclick="window.location.href='/reviews/<%=event._id%>'"
              >
                View Reviews
              </button>
              <% } %>
            </div>
          </div>
          <% }) %> <% } else { %>
          <div class="container wrapper">
            <div class="noRecord record-center">
              <h2>No Event Organized Yet!</h2>
              <img
                style="width: 250px"
                src="/images/he_sitting_with_notebook.png"
                alt=""
              />
            </div>
          </div>

          <% } %>
        </div>
        <% if (Events.length > 0) { %>
        <button class="carousel-btn prev-btn" id="prev-btn">
          <i class="fa fa-chevron-left"></i>
        </button>
        <button class="carousel-btn next-btn" id="next-btn">
          <i class="fa fa-chevron-right"></i>
        </button>
        <% } %>
      </div>
      <script src="/scripts/carousel.js"></script>
    </main>

    <!-- ----------------- Call to Action Section ---------------------- -->

    <%- include('../includes/newsletter.ejs') %>

    <!-- ----------------- Footer Section ---------------------- -->

    <%- include('../includes/footer.ejs') %>
  </body>
</html>
