<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foods & Drinks</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&family=Nanum+Gothic:wght@400;700;800&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/css/headerFooter.css" />
    <link rel="stylesheet" href="/css/restaurants.css" />
    <link rel="stylesheet" href="/css/entertainment.css" />
    <link rel="stylesheet" href="/css/navbar.css" />

    <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />

    <script
      src="https://kit.fontawesome.com/9d779ebc01.js"
      crossorigin="anonymous"
    ></script>

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  </head>
  <body>
    <!-- ----------------- Header ---------------------- -->
    <%- include('../includes/header.ejs') %>
    <!-- ----------------- Restaurants Section ---------------------- -->

    <main class="container food">
      <section class="food-head food-head-fix">
        <h1>Foods & Drinks</h1>
      </section>
      <!-- -_***************************___ Browse Food -___**************************____ -->
      <div class="flex food-filter-mix">
        <!-- index.ejs -->

        <section class="filter">
          <form id="filterForm" action="/search-restaurants" method="POST">
            <!-- Add form tag and action attribute -->
            <div class="filter-body event-mobile">
              <h2 class="event-tablet">Filters</h2>

              <div class="filter-1">
                <h3>Food Type</h3>
                <span class="flex-start">
                  <input type="checkbox" name="foodType" value="Chinese" />
                  <label for="Sweet Tooth">Chinese</label>
                </span>

                <span class="flex-start">
                  <input type="checkbox" name="foodType" value="Continental" />
                  <label for="Fine Dining">Continental</label>
                </span>

                <span class="flex-start">
                  <input type="checkbox" name="foodType" value="Desi" />
                  <label for="Cheap Eats">Pakistani</label>
                </span>

                <span class="flex-start">
                  <input type="checkbox" name="foodType" value="Italian" />
                  <label for="Local Cuisine">Italian</label>
                </span>
                <span class="flex-start">
                  <input type="checkbox" name="foodType" value="FastFood" />
                  <label for="Local Cuisine">Fast Food</label>
                </span>
                <span class="flex-start">
                  <input type="checkbox" name="foodType" value="Dessert" />
                  <label for="Local Cuisine">Dessert</label>
                </span>
              </div>

              <div class="filter-3">
                <h3>Price</h3>
                <span class="flex-start">
                  <input type="checkbox" name="cuisine" value="Economical" />
                  <label for="Desi">Economical</label>
                </span>
                <span class="flex-start">
                  <input type="checkbox" name="cuisine" value="Casual Dining" />
                  <label for="Chinese">Casual Dining</label>
                </span>

                <span class="flex-start">
                  <input type="checkbox" name="cuisine" value="Fine Dining" />
                  <label for="Chinese">Fine Dining</label>
                </span>
              </div>

              <div class="filter-3">
                <h3>City</h3>
                <span class="flex-start">
                  <input type="checkbox" name="City" value="Islamabad" />
                  <label for="Desi">Islamabad</label>
                </span>
                <span class="flex-start">
                  <input type="checkbox" name="City" value="Lahore" />
                  <label for="Chinese">Lahore</label>
                </span>

                <span class="flex-start">
                  <input type="checkbox" name="City" value="Karachi" />
                  <label for="Chinese">Karachi</label>
                </span>
              </div>

              <div class="filter-4">
                <h3>Ratings</h3>
                <span class="flex-start">
                  <input type="checkbox" name="rating" value="3" />
                  <label for="3stars" class="stars">
                    <span> <i class="fa-regular fa-circle fill"></i></span>
                    <span> <i class="fa-regular fa-circle fill"></i></span>
                    <span> <i class="fa-regular fa-circle fill"></i></span>
                    <span>& Above</span>
                  </label>
                </span>

                <span class="flex-start">
                  <input type="checkbox" name="rating" value="4" />
                  <label for="4stars" class="stars">
                    <span> <i class="fa-regular fa-circle fill"></i></span>
                    <span> <i class="fa-regular fa-circle fill"></i></span>
                    <span> <i class="fa-regular fa-circle fill"></i></span>
                    <span> <i class="fa-regular fa-circle fill"></i></span>
                    <span>& Above</span>
                  </label>
                </span>

                <span class="flex-start">
                  <input type="checkbox" name="rating" value="5" />
                  <label for="5stars" class="stars">
                    <span> <i class="fa-regular fa-circle fill"></i></span>
                    <span> <i class="fa-regular fa-circle fill"></i></span>
                    <span> <i class="fa-regular fa-circle fill"></i></span>
                    <span> <i class="fa-regular fa-circle fill"></i></span>
                    <span> <i class="fa-regular fa-circle fill"></i></span>
                    <span> Stars</span>
                  </label>
                </span>
              </div>

              <div class="space-box"></div>
              <button type="submit" class="search-btn">Search</button>
            </div>
          </form>
          <!-- Close the form tag -->
        </section>

        <div class="food-right">
          <section class="food-search-box">
            <form
              action="/things-to-do/food&drinks/search-restaurant"
              class="search-form"
              method="POST"
            >
              <div class="flex search-box-main food-filter-fix">
                <div>
                  <label for="where">Where?</label>
                  <select name="where" id="where">
                    <option value="all">All Locations</option>
                    <option value="Islamabad">Islamabad</option>
                    <option value="Lahore">Lahore</option>
                    <option value="karachi">Karachi</option>
                  </select>
                </div>

                <div>
                  <label for="Category">Type Restaurant?</label>
                  <input
                    type="text"
                    name="result"
                    placeholder="e.g Cheezious"
                  />
                </div>
                <button class="searchBtn">
                  <i
                    class="fa-solid fa-magnifying-glass"
                    aria-hidden="true"
                  ></i>
                  Search
                </button>
              </div>
            </form>
          </section>
          <!-- -_***************************___ Fine Dinning -___**************************____ -->
          <section class="food-body wrapper">
            <div class="flex food-body-head">
              <h2>Fine Dining</h2>
              <a href="/specifictype-Restaurant/?type=Fine Dining">See All</a>
            </div>

            <div class="food-browse flex gap">
              <% let counter = 0 %> <% for (let Restaurant of Restaurants) { %>
              <% if (Restaurant.restaurantType === 'Fine Dining' && counter < 4)
              { %> <% counter++ %>
              <a
                href="/things-to-do/food&drinks/<%=Restaurant._id %>"
                class="food-link"
              >
                <div class="food-browse-box">
                  <img
                    src="/<%= Restaurant.imageUrl[0] %>"
                    alt=" <%= Restaurant.name %>"
                  />

                  <span class="heart">
                    <i class="fa-solid fa-heart"></i>
                  </span>

                  <input
                    type="hidden"
                    name="restaurantId"
                    value="<%=Restaurant._id%>"
                  />

                  <h3><%= Restaurant.name %></h3>
                  <div class="review flex gap-small" id="margin-set">
                    <% if (Restaurant.ratingPicture !== null) { %>
                    <div class="rating flex" id="margin-set">
                      <img src="<%= Restaurant.ratingPicture %>" />
                    </div>
                    <% } else { %>
                    <div class="review flex gap-small" id="margin-set">
                      <img
                        src="https://www.tripadvisor.com/img/cdsi/img2/ratings/traveler/4.0-66827-5.svg"
                      />
                    </div>
                    <% } %>
                    <p class="light"><%=Restaurant.rating%></p>
                  </div>
                  <div class="tags light flex padd-left" id="padd-left">
                    <% for (let i = 0; i < Restaurant.cuisine.length; i++) { %>
                    <p>
                      <%= Restaurant.cuisine[i] %><%= i ===
                      Restaurant.cuisine.length - 1 ? '' : ',' %>
                    </p>
                    <% } %>
                  </div>
                </div>
              </a>
              <% } %> <% } %>
            </div>
          </section>

          <!-- -_***************************___ Local Cuisine  -___**************************____ -->
          <section class="food-body wrapper">
            <div class="flex food-body-head">
              <h2>Local Cuisine</h2>
              <a href="/specifictype-Restaurant/?type=Desi">See All</a>
            </div>

            <div class="food-browse flex gap" data-aos="fade-left">
              <% let counter0 = 0 %> <% for (let Restaurant of Restaurants) { %>
              <% if (Restaurant.cuisine.includes('Desi') && counter0 < 4) { %>
              <% counter0++ %>
              <a
                href="/things-to-do/food&drinks/<%=Restaurant._id%>"
                class="food-link"
              >
                <div class="food-browse-box">
                  <img
                    src="/<%= Restaurant.imageUrl[0] %>"
                    alt=" <%= Restaurant.name %>"
                  />

                  <span class="heart">
                    <i class="fa-solid fa-heart"></i>
                  </span>

                  <input
                    type="hidden"
                    name="restaurantId"
                    value="<%=Restaurant._id%>"
                  />

                  <h3><%= Restaurant.name %></h3>
                  <div class="review flex gap-small" id="margin-set">
                    <% if (Restaurant.ratingPicture !== null) { %>
                    <div class="rating flex">
                      <img src="<%= Restaurant.ratingPicture %>" />
                    </div>
                    <% } else { %>
                    <div class="review flex gap-small" id="margin-set">
                      <img
                        src="https://www.tripadvisor.com/img/cdsi/img2/ratings/traveler/4.0-66827-5.svg"
                      />
                    </div>
                    <% } %>
                    <p class="light"><%=Restaurant.rating%></p>
                  </div>
                  <div class="tags light flex padd-left" id="padd-left">
                    <% for (let i = 0; i < Restaurant.cuisine.length; i++) { %>
                    <p>
                      <%= Restaurant.cuisine[i] %><%= i ===
                      Restaurant.cuisine.length - 1 ? '' : ',' %>
                    </p>
                    <% } %>
                  </div>
                </div>
              </a>
              <% } %> <% } %>
            </div>
          </section>

          <!-- -_***************************___ Sweet Tooth  -___**************************____ -->
          <section class="food-body wrapper">
            <div class="flex food-body-head">
              <h2>Dessert</h2>
              <a href="/specifictype-Restaurant/?type=Dessert">See All</a>
            </div>

            <div class="food-browse flex gap" data-aos="fade-left">
              <% let counter1 = 0 %> <% for (let Restaurant of Restaurants) { %>
              <% if (Restaurant.cuisine.includes('Dessert') && counter1 < 4) {
              %> <% counter1++ %>
              <a
                href="/things-to-do/food&drinks/<%=Restaurant._id%>"
                class="food-link"
              >
                <div class="food-browse-box">
                  <img
                    src="/<%= Restaurant.imageUrl %>"
                    alt=" <%= Restaurant.name %>"
                  />

                  <span class="heart">
                    <i class="fa-solid fa-heart"></i>
                  </span>

                  <input
                    type="hidden"
                    name="restaurantId"
                    value="<%=Restaurant._id%>"
                  />

                  <h3><%= Restaurant.name %></h3>

                  <div class="review flex gap-small" id="margin-set">
                    <% if (Restaurant.ratingPicture !== null) { %>
                    <div class="rating flex">
                      <img src="<%= Restaurant.ratingPicture %>" />
                    </div>
                    <% } else { %>
                    <div class="review flex gap-small" id="margin-set">
                      <img
                        src="https://www.tripadvisor.com/img/cdsi/img2/ratings/traveler/4.0-66827-5.svg"
                      />
                    </div>
                    <% } %>
                    <p class="light"><%=Restaurant.rating%></p>
                  </div>

                  <div class="tags light flex padd-left" id="padd-left">
                    <% for (let i = 0; i < Restaurant.cuisine.length; i++) { %>
                    <p>
                      <%= Restaurant.cuisine[i] %><%= i ===
                      Restaurant.cuisine.length - 1 ? '' : ',' %>
                    </p>
                    <% } %>
                  </div>
                </div>
              </a>
              <% } %> <% } %>
            </div>
          </section>
          <!-- -_***************************___ Cheap Eats  -___**************************____ -->
          <section class="food-body wrapper">
            <div class="flex food-body-head">
              <h2>Cheap Eats</h2>
              <a href="/specifictype-Restaurant/?type=Economical">See All</a>
            </div>

            <div class="food-browse flex gap">
              <% let counter2 = 0 %> <% for (let Restaurant of Restaurants) { %>
              <% if (Restaurant.restaurantType === 'Economical' && counter2 < 4)
              { %> <% counter2++ %>
              <a
                href="/things-to-do/food&drinks/<%=Restaurant._id%>"
                class="food-link"
              >
                <div class="food-browse-box">
                  <img
                    src="/<%= Restaurant.imageUrl %>"
                    alt="<%= Restaurant.name %>"
                  />
                  <span class="heart">
                    <i class="fa-solid fa-heart"></i>
                  </span>
                  <input
                    type="hidden"
                    name="restaurantId"
                    value="<%=Restaurant._id%>"
                  />

                  <h3><%= Restaurant.name %></h3>
                  <div class="review flex gap-small" id="margin-set">
                    <% if (Restaurant.ratingPicture !== null) { %>
                    <div class="rating flex">
                      <img src="<%= Restaurant.ratingPicture %>" />
                    </div>
                    <% } else { %>
                    <div class="review flex gap-small" id="margin-set">
                      <img
                        src="https://www.tripadvisor.com/img/cdsi/img2/ratings/traveler/4.0-66827-5.svg"
                      />
                    </div>
                    <% } %>
                    <p class="light"><%=Restaurant.rating%></p>
                  </div>
                  <div class="tags light flex padd-left" id="padd-left">
                    <% for (let i = 0; i < Restaurant.cuisine.length; i++) { %>
                    <p>
                      <%= Restaurant.cuisine[i] %><%= i ===
                      Restaurant.cuisine.length - 1 ? '' : ',' %>
                    </p>
                    <% } %>
                  </div>
                </div>
              </a>
              <% } %> <% } %>
            </div>
          </section>
        </div>
      </div>
    </main>

    <!-- ----------------- Keep Exloring Section ---------------------- -->

    <section class="explore container wrapper">
      <div class="explore-head">
        <h2>Keep Exploring</h2>
        <p>Pack in more city's highlights</p>
      </div>

      <div class="explore-body flex gap">
        <div
          class="explore-box"
          onclick="window.location.href='/experiences/view-all?type=Heritage & Culture'"
          style="cursor: pointer"
        >
          <img src="/images/explore-box.png" alt="" />
          <div class="explore-box-desc">
            <h3>Culture & Heritage</h3>
            <p>
              Check out the latest hotspots and attractions to add to your next
              holiday.
            </p>
          </div>
        </div>

        <div
          class="explore-box"
          onclick="window.location.href='/experiences/view-all?type=Shopping'"
          style="cursor: pointer"
        >
          <img src="/images/shopping.jpeg" alt="" />
          <div class="explore-box-desc">
            <h3>Shopping</h3>
            <p>
              Indulge in tax-free shopping at high-end malls and charming souks.
            </p>
          </div>
        </div>

        <div
          class="explore-box"
          onclick="window.location.href='/experiences/view-all?type=Recreation'"
          style="cursor: pointer"
        >
          <img src="/images/fun.jpeg" alt="" />
          <div class="explore-box-desc">
            <h3>Fun & Recreation</h3>
            <p>
              Explore Pakistan's culture through traditional spaces and modern
              art districts.
            </p>
          </div>
        </div>
      </div>
    </section>

    <!-- ----------------- Call to Action Section ---------------------- -->

    <%- include('../includes/newsletter.ejs') %>

    <!-- ----------------- Footer Section ---------------------- -->

    <%- include('../includes/footer.ejs') %>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const hearts = document.querySelectorAll(".heart");

        hearts.forEach(function (heart) {
          heart.addEventListener("click", function (event) {
            event.preventDefault();

            const restaurantId = heart.parentElement.querySelector(
              "input[name='restaurantId']"
            ).value;

            // Make AJAX request to backend API
            fetch("/wishlist", {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
              },
              body: JSON.stringify({
                eventId: restaurantId,
                type: "Restaurant",
              }),
            })
              .then(async (response) => {
                const result = await response.json();
                if (result.message === "failed") {
                  window.location.href = "/user/login";
                } else if (result.message === "delete") {
                  heart.classList.remove("red");
                } else if (response.ok) {
                  heart.classList.add("red");
                } else {
                  console.error("Failed to add restaurant to wishlist");
                }
              })
              .catch((error) => {
                console.error("Error:", error);
              });
          });
        });
      });
    </script>
  </body>
</html>
