<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Book a Tickets</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&family=Nanum+Gothic:wght@400;700;800&display=swap"
      rel="stylesheet"
    />

    <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />

    <link rel="stylesheet" href="/css/headerFooter.css" />
    <link rel="stylesheet" href="/css/sample.css" />
    <link rel="stylesheet" href="/css/ticket.css" />

    <script
      src="https://kit.fontawesome.com/9d779ebc01.js"
      crossorigin="anonymous"
    ></script>

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  </head>
  <body>
    <!-- ----------------- Header ---------------------- -->
    <%- include('../includes/header.ejs') %>

    <!-- ----------------- Summary Detal Section ---------------------- -->

    <main class="ticket flex container wrapper">
      <section class="ticketDetail summaryDetail">
        <div class="ticketDetail-head flex">
          <span>3</span>
          <h2>Payment Details</h2>
        </div>

        <p class="ticketDetail-info">
          Please verify the information below before proceeding to the payment
          section.
        </p>

        <div class="ticketDetail-form">
          <h3>Order Summary</h3>
          <table>
            <thead>
              <tr class="table-head">
                <th>Ticket</th>
                <th>Qty</th>
                <th>Price</th>
              </tr>
            </thead>
            <tbody>
              <% for (let ticket of User.Cart.Event) { %>
              <tr class="table-body">
                <td><%=ticket.ticketName%></td>
                <td><%=ticket.quantity%></td>
                <td><%=ticket.price%></td>
              </tr>
              <% } %>

              <!-- Total Row -->
              <tr class="table-body table-foot">
                <td colspan="2">Total</td>

                <td>PKR <%=totalPrice%></td>
              </tr>
            </tbody>
          </table>

          <div class="agreement-check flex flex-start gap-small">
            <input type="checkbox" name="agreement" id="agreement" required />
            <label for="agreement">
              I agree to the <a href="">terms and conditions</a> of this event.
            </label>
          </div>
        </div>

        <div class="checkoutBtn">
          <button class="next-btn" id="order-btn">Checkout</button>
          <script src="https://js.stripe.com/v3/"></script>
          <script>
            var stripe = Stripe(
              "pk_test_51OfKKxIMu6keChZRMzPfwzv2hyqUQj8xMhFP6AeyzwdFbHNngK5Iqr9yqXjuXWDvWySSJMQaGkoKyNpGJNHnzNeD00HFH83YMe"
            );
            var orderBtn = document.getElementById("order-btn");
            orderBtn.addEventListener("click", function () {
              stripe.redirectToCheckout({
                sessionId: "<%= sessionId %>",
              });
            });
          </script>
        </div>
      </section>
    </main>

    <!-- ----------------- Footer Section ---------------------- -->

    <%- include('../includes/footer.ejs') %>
  </body>
</html>
